body{
	font-family:helvetica;
	padding: 0;
}
#wrapper{
	width:800px;
	margin: 0px auto;
}
#contractTypeList{
	
}

input{
	
	margin:2px 0px;
}

#clientName{
	display: none;
}
.alert{
	display: none;
}
#rateReturn table{
	table-layout: auto;
	width: 100%;
}
tr{
	width: 100%;
}
td, th{
	width: 15%;
}

td:nth-child(3), th:nth-child(3){
	width: 50%;

}
td:nth-child(2), th:nth-child(2){
	width: 25%;

}
