body{
	font-family:helvetica;
	padding: 0;
}
#wrapper{
	width:800px;
	margin: 0px auto;
}
#contractTypeList{
	
}

input{
	
	margin:2px 0px;
}

#jw{
	display: none;
}
.alert{
	display: none;
}
#rateReturn table{
	table-layout: auto;
	width: 100%;
}
